modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[objectStorage]
defaultBucketID = "replit-objstore-e0649ad8-92b0-49bd-867e-3826f9ab55ae"

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NOWPAYMENTS_API_KEY = "TG5EV4X-2ARMN0V-QJAMHPG-GS9YPQP"
NOWPAYMENTS_IPN_SECRET = "ijb4/N7kUTaPkX57jDEwgZWoZvmAWVVW"
JWT_SECRET = "750d133edb47f9042a47e0778febb7785c31f477f514c5caca7a179e4c2d2382"
ADMIN_SECRET = "684e2e5fcc6d2cc52647b7673a1cbc350d0b1412c6de97cd9f000b98c659c069"
